header {
    position: sticky;
    display: flex;
    border-bottom: solid 1px var(--border-color);
    padding: 10px;
    background-color: var(--header-color);

    .back-button {
        position: absolute;
        align-self: center;
    }

    .header-text {
        flex: 1;
        font-size: x-large;
        text-align: center;
    }
}

main {
    padding: 10px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    border-top: solid 1px var(--border-color);

    .github-link {
        color: var(--text-color);
    }

    .mini-footer {
        font-style: italic;
        font-size: small;
    }
}
