@let itemPack = itemPackResource.value();

@if (itemPackResource.isLoading()){
<app-loading-placeholder-page />
} @else if (itemPack === undefined) {
<app-not-found-page />
} @else {
<app-page-title-component [titleText]="`Setup comparison for &quot;${itemPack.name}&quot;`" backButtonUrl="/" />

<div class="item-pack-info-container">
    @if (itemPack.icon !== undefined){
    <img class="big-icon-image" alt="Item icon" [src]="itemPack.icon" />
    }
    <div class="item-pack-info">
        <div class="item-pack-name">{{ itemPack.name }}</div>
        @if (itemPack.author !== undefined){
        <div class="item-pack-author">by {{itemPack.author}}</div>
        }
        @if (itemPack.description !== undefined){
        <div class="item-pack-description">{{ itemPack.description }}</div>
        }
    </div>
</div>

@if (!areEnoughItems()) {
<div class="error-message-block">
    At least 2 items required to start comparisons, but ideally you need 10+.
</div>
}

<div class="comparison-setup-container">
    <div class="form-row">
        <label>Comparison mode</label>
        <app-select-component [options]="comparisonModes.map(x => ({value: x.id, caption: x.name}))" [(value)]="selectedComparisonModeId"></app-select-component>
    </div>
    @let selectedComparisonModeObj = selectedComparisonMode();
    @if(selectedComparisonModeObj !== undefined){
    <div class="comparison-mode-description">{{selectedComparisonModeObj.description}}</div>
    }
    <div class="form-row">
        <label>Question</label>
        <app-select-component [options]="questionOptions()" [(value)]="selectedQuestion"></app-select-component>
        @if (selectedQuestion() === ""){
        <div>
            <app-short-text-input-component [(value)]="customQuestion" />
        </div>
        }
    </div>
    @if (estimatedComparisonCount() !== undefined){
    <div class="esitmated-comparison-count">Estimated comparison count: {{ estimatedComparisonCount() }}</div>
    }
    <!-- If we can't produce estimate - we can't start (some params are wrong) -->
    <button (click)="onStartButtonClick()" [disabled]="estimatedComparisonCount() === undefined">Start</button>
</div>
}
