@let comparisonSession = comparisonSessionResource.value();
@let comparisonModeObj = comparisonMode();
@let comparisonState = comparisonStateResource.value();

@if (comparisonSessionResource.isLoading()){
<app-loading-placeholder-page />
} @else if (comparisonSession === undefined || comparisonModeObj === undefined){
<app-not-found-page />
} @else {
<app-page-title-component [titleText]="`Comparing items from &quot;${comparisonSession.itemPackName}&quot;`" backButtonUrl="/" />

<div class="comparison-state-container">
    <div class="comparison-question">{{ comparisonSession.comparisonQuestion }}</div>
    <progress [value]="comparisonState?.completedComparisons ?? 0" [max]="comparisonState?.estimatedTotalComparisons ?? 0"></progress>
    <div class="comparison-progress-numbers">{{ comparisonState?.completedComparisons }} / {{ comparisonState?.estimatedTotalComparisons }}</div>
</div>
<div class="comparison-area">
    @let firstItem = comparisonState?.items?.[0];
    @if (firstItem !== undefined){
    <app-comparison-item-component [item]="firstItem" (click)="onSelectionClick($event)" />
    }

    @if (comparisonModeObj.allowsEqual){
    <div class="equals-button-container">
        <button (click)="onSelectionClick(undefined)">Equal</button>
    </div>
    }

    @let secondItem = comparisonState?.items?.[1];
    @if (secondItem !== undefined){
    <app-comparison-item-component [item]="secondItem" (click)="onSelectionClick($event)" />
    }
</div>
}
